# Flutter / Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store

# Firebase secrets (provide your own)
google-services.json
GoogleService-Info.plist
ios/firebase_app_id_file.json

# Local env
.env
